

body{
    background-color: #f2f2f2;
}

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    color: #a66c6c;
    margin: 0;
    padding: 0;
    
}

.grid-container {
    border: 2px solid black;
    width: 90vw;
    height: 80vh;
    background-color: #e60000;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

